body{
    background-image: url(./img/deer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    margin-top: 100px;
}
#DoB{
    width: 60px;
}
#MoB{
    width: 60px;
}
#YoB{
    width: 90px;
}